In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
haberman=pd.read_csv("haberman.csv",header=None)
column_names=["age","year","axillary_nodes","survival_status"]
haberman.columns=column_names
haberman.survival_status=haberman.survival_status.map({1:"yes",2:"no"})
haberman

     age  year  axillary_nodes survival_status
0     30    64               1             yes
1     30    62               3             yes
2     30    65               0             yes
3     31    59               2             yes
4     31    65               4             yes
..   ...   ...             ...             ...
301   75    62               1             yes
302   76    67               0             yes
303   77    65               3             yes
304   78    65               1              no
305   83    58               2              no

[306 rows x 4 columns]

In [3]:
g=haberman.groupby("survival_status").size()
g

survival_status
no      81
yes    225
dtype: int64